<div>
  <%= simple_form_for(@patient) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :birthday, start_year: Date.today.year - 90, end_year: Date.today.year %>
    <%= f.input :status_id, as: :select, collection: statuses_values %>
    <%= f.input :location_id, as: :select, collection: location_values %>
    <%= f.input :gender_id, as: :radio_buttons, collection: genders_values %>
    <%= f.button :submit %>
    <%= link_to t("index.page.back"), patients_path %>
  <% end %>
</div>
