<div>
  <%= simple_form_for(@patient) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :last_name %>
    <%= f.input :birthday %>
    <%= f.input :status_id do %>
      <%= f.select :status_id, statuses_values %>
    <% end %>
    <%= f.input :location_id do %>
      <%= f.select :location_id, location_values %>
    <% end %>
    <%= f.input :gender_id do %>
      <% genders_values.each do |v| %>
        <%= f.radio_button :gender_id, v[1] %><%= v[0] %>
      <% end %>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>
