<div>
  <dl class="dl-horizontal">
    <dt>
      <%= t("activerecord.attributes.patient.mr_number") %>:
    </dt>
    <dd>
      <%= @patient.mr_number %>
    </dd>
    <dt>
      <%= t("activerecord.attributes.patient.full_name") %>:
    </dt>
    <dd>
      <%= @patient.full_name %>
    </dd>
    <dt>
      <%= t("activerecord.attributes.patient.birthday") %>:
    </dt>
    <dd>
      <%= @patient.birthday %>
    </dd>
    <dt>
      <%= t("activerecord.attributes.patient.status_id") %>:
    </dt>
    <dd>
      <%= @patient.status %>
    </dd>
    <dt>
      <%= t("activerecord.attributes.patient.location_id") %>:
    </dt>
    <dd>
      <%= @patient.location_name %>
    </dd>
    <dt>
      <%= t("activerecord.attributes.patient.gender_id") %>:
    </dt>
    <dd>
      <%= @patient.gender %>
    </dd>
    <dt></dt>
    <dd>
      <%= link_to t("index.page.patient_list"), patients_path %>
      <%= link_to t("index.page.edit"), edit_patient_path(@patient) %>
    </dd>
  </ul>
</div>

