<div>
  <ul>
    <li>
      <%= t("activerecord.attributes.patient.mr_number") %>:
      <%= @patient.mr_number %>
    </li>
    <li>
      <%= t("activerecord.attributes.patient.full_name") %>:
      <%= @patient.full_name %>
    </li>
    <li>
      <%= t("activerecord.attributes.patient.birthday") %>:
      <%= @patient.birthday %>
    </li>
    <li>
      <%= t("activerecord.attributes.patient.status_id") %>:
      <%= @patient.status %>
    </li>
    <li>
      <%= t("activerecord.attributes.patient.location_id") %>:
      <%= @patient.location_name %>
    </li>
    <li>
      <%= t("activerecord.attributes.patient.gender_id") %>:
      <%= @patient.gender %>
    </li>
  </ul>
</div>
